<head>
	<meta charset="utf-8">
</head>
<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet"> 
<table border="0" style="color: #FF5F3C; font-family: montserrat, sans-serif, arial;">
	<tr>
		<td colspan="2">
			<h1 style="margin:0; font-weight: bolder;">Mart&iacute;n Lecaros</h1>
			<p style="margin:5px 0 15px">Gerente de proyectos / mlecaros@trapemn.cl</p>
		</td>
		<td rowspan="2" valign="middle">
			<img src="http://firmas.trapemn.cl/logo-firma.png" width="320" style="padding-left: 40px; margin-left: 40px; border-left: 1px solid;" />
		</td>
	</tr>
	<tr>
		<td width="200">
			<img src="http://firmas.trapemn.cl/iconos-firma.png" width="120" />
		</td>
		<td style="text-align: right;"> 
			41 - 2749612 / <strong>www.trapemn.cl</strong>
		</td>
	</tr>
</table>

<br><br><br>
<br><br><br>


<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet"> 
<table border="0" style="color: #FF5F3C; font-family: montserrat, sans-serif, arial; font-size: 11pt;">
	<tr>
		<td colspan="2">
			<h2 style="margin:0; font-weight: bolder;">
				Francisco Mejía
			</h2>
			<p style="margin:5px 0 -10px">
				IT Services Manager / <a href="mailto:fmejia@trapemn.cl" style="text-decoration: none; color: #FF5F3C; white-space: nowrap;">fmejia@trapemn.cl</a>
			</p>
		</td>
		<td rowspan="2" valign="middle">
			<img src="http://firmas.trapemn.cl/logo-firma.png" width="230" style="padding: 13px 18px; margin-left: 18px; border-left: 1px solid;" />
		</td>
	</tr>
	<tr>
		<td>
			<img src="http://firmas.trapemn.cl/iconos-firma.png" width="100" />
		</td>
		<td style="text-align: right; padding-left: 10px;"> 
			<small style="white-space: nowrap;">41 - 2749612 / <strong><a href="http://www.trapemn.cl" style="text-decoration: none; color: #FF5F3C;">www.trapemn.cl</a></strong></small>
		</td>
	</tr>
</table>

<br><br><br>
<br><br><br>


<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet"> 
<table border="0" style="color: #FF5F3C; font-family: montserrat, sans-serif, arial; font-size: 10pt;">
	<tr>
		<td colspan="2">
			<h3 style="margin:0; font-weight: bolder;">
				Francisco Mejía
			</h3>
			<p style="margin:5px 0 0">
				IT Services Manager / <a href="mailto:fmejia@trapemn.cl" style="text-decoration: none; color: #FF5F3C; white-space: nowrap;">fmejia@trapemn.cl</a>
			</p>
		</td>
		<td rowspan="2" valign="middle">
			<img src="http://firmas.trapemn.cl/logo-firma.png" width="190" style="padding: 0 18px; margin-left: 18px; border-left: 1px solid;" />
		</td>
	</tr>
	<tr>
		<td>
			<img src="http://firmas.trapemn.cl/iconos-firma.png" width="100" />
		</td>
		<td style="text-align: right; padding-left: 10px;"> 
			<small style="white-space: nowrap;">41 - 2749612 / <strong><a href="http://www.trapemn.cl" style="text-decoration: none; color: #FF5F3C;">www.trapemn.cl</a></strong></small>
		</td>
	</tr>
</table>

<br><br><br>
<br><br><br>


<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet"> 
<table border="0" style="color: #FF5F3C; font-family: montserrat, sans-serif, arial; font-size: 10pt;">
	<tr>
		<td colspan="2">
			<h3 style="margin:-2px 0 0; font-weight: bolder;">
				Francisco Mejía
			</h3>
			<p style="margin:5px 0 0">
				IT Services Manager / <a href="mailto:fmejia@trapemn.cl" style="text-decoration: none; color: #FF5F3C; white-space: nowrap;">fmejia@trapemn.cl</a>
			</p>
		</td>
		<td rowspan="2">
			<div style="height: 60px;padding: 0 10px;margin-left:20px;border-left: 1px solid;"></div>
		</td>
		<td>
			<img src="http://firmas.trapemn.cl/trapemn.png" width="210" />
		</td>
	</tr>
	<tr>
		<td>
			<img src="http://firmas.trapemn.cl/iconos-firma.png" width="80" />
		</td>
		<td style="text-align: right; padding-left: 10px;"> 
			<small style="white-space: nowrap;">41 - 2749612 / <strong><a href="http://www.trapemn.cl" style="text-decoration: none; color: #FF5F3C;">www.trapemn.cl</a></strong></small>
		</td>
		<td>
			<p style="text-transform: uppercase;">Gestión y soluciones <strong>#IPTV</strong></p>
		</td>
	</tr>
</table>


<br><br><br>
<br><br><br>


<div class="firma"><link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet"> 
<table border="0" style="color: #FF5F3C; font-family: montserrat, sans-serif, arial; font-size: 10pt;">
	<tr>
		<td colspan="2">
			<h3 style="margin:-2px 0 0; font-weight: bolder;"><?php echo $nombre;?></h3>
			<p style="margin:5px 0 -20px"><?php echo $cargo;?> / <a href="mailto:<?php echo $emial;?>" style="text-decoration: none; color: #FF5F3C; white-space: nowrap;"><?php echo $email;?></a></p>
		</td>
		<td rowspan="2">
			<div style="height: 100px;padding: 0 10px;margin-left:20px;border-left: 1px solid;">&nbsp;</div>
		</td>
		<td>
			<img src="http://firmas.trapemn.cl/trapemn.png" width="210" />
		</td>
	</tr>
	<tr>
		<td>
			<img src="http://firmas.trapemn.cl/iconos-firma.png" width="80" />
		</td>
		<td style="text-align: right; padding-left: 10px;"> 
			<small style="white-space: nowrap;">Concepción - Santiago - Lima / <strong><a href="http://www.trapemn.tv" style="text-decoration: none; color: #FF5F3C;">www.trapemn.tv</a></strong></small>
		</td>
		<td>
			<p style="text-transform: uppercase;white-space: nowrap;margin-top: -25px">Gestión y soluciones <strong>#IPTV</strong></p>
		</td>
	</tr>
</table></div>